{% block title %}{% endblock %}
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>WEBMAKER</title>
		<link rel="icon" type="image/png" href="{{asset('img/icc.png')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
		<link rel="stylesheet" href="{{asset('css/demande.css')}}"/>
		<style>

			p {
				color: black;
				font-size: 1.4rem;
				margin-top: 5px;
				line-height: 2.5rem;
				font-weight: 300;
				letter-spacing: 0.05rem;
			}
			.section-title {
				font-size: 4rem;
				font-weight: 300;
				color: black;
				margin-bottom: 10px;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
				text-align: center;
			}
			.section-title span {
				color: #7B0305;
			}


			.brand h1 {
				font-size: 2.3rem;
				text-transform: uppercase;
				color: #413B3B;
			}
			.brand h1 span {
				color: #6b44e0;
			}
		</style>
	</head>
	{% block body %}

		<body>
			<main>
				<header id="header">
					<div class="overlay overlay-lg">


						<img src="{{asset('img/shapes/wave.png')}}" class="shape wave wave1" alt=""/>
						<img src="{{asset('img/shapes/wave.png')}}" class="shape wave wave2" alt=""/>
						<img src="{{asset('img/shapes/triangle.png')}}" class="shape triangle" alt=""/>
						<img src="{{asset('img/icc.png')}}" class="letters" alt=""/>

					</div>

					<nav>
						<div class="container">
							<div class="logo">
								<div class="brand">
									<a href="{{ path( 'app_serv') }}">
										<img style="width: 460%" src="{{asset('img/LOGO2-removebg-preview.png')}}" class="z-index" alt=""/>


									</a>
								</div>
							</div>

							<div class="links">
								<ul>
									<a href="{{ path( 'app_serv') }}">Home</a>


									<li>
										<a href="{{ path( 'app_demande_new') }}">Start project</a>
									</li>

									<li>
										<a href="{{ path( 'app_contact_new') }}" class="nav-item nav-link">Contact</a>
									</li>

								</ul>
							</div>

							<div class="hamburger-menu">
								<div class="bar"></div>
							</div>
						</div>
					</nav>


				</header>


				<section class="contact" id="contact">
					<div class="container">
						<div class="contact-box">
							<div class="contact-info">
								{% for message in app.flashes('success') %}
									<div class="alert alert-success" style="text-align: center; background-color: green;">
										{{ message }}
									</div>
								{% endfor %}
								<h3 class="title">WEBMAKER</h3>

								<p class="text">
									Nous allons vous aider à atteindre vos objectifs et faire croître votre entreprise.
								</p>
								<div class="information-wrap">
									<div class="information">
										<div class="contact-icon">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<p class="info-text">Fes,maroc ,30080</p>
									</div>

									<div class="information">
										<div class="contact-icon">
											<i class="fas fa-paper-plane"></i>
										</div>
										<p class="info-text">webmakerfes@gmail.com</p>

									</div>


									<div class="information">
										<div class="contact-icon">
											<i class="fas fa-phone-alt"></i>
										</div>
										<p class="info-text">+212-762914480</p>
										<p class="info-text"></p>
										<p class="info-text">||</p>
										<p class="info-text"></p>
										<p class="info-text">+212-682330565</p>
									</div>
								</div>
							</div>

							<div class="contact-form">
								<h3 class="title">Start Project</h3>

								{{ form_start(form) }}


								<div class="row">
									{{ form_widget(form.societe, {'attr': {'Class': 'contact-input' ,'Placeholder': 'Societe'}}) }}
									{{ form_widget(form.fullname, {'attr': {'Class': 'contact-input' ,'Placeholder': 'full Name'}}) }}
								</div>
								<div class="row">
									{{ form_widget(form.ville, {'attr': {'Class': 'contact-input' ,'Placeholder': 'phone number'}}) }}
									{{ form_widget(form.secteur, {'attr': {'Class': 'contact-input' ,'Placeholder': 'secteur des activites'}}) }}
								</div>
								<div class="row">
									{{ form_widget(form.service, {'attr': {'Class': 'contact-input' ,'Placeholder': 'select service'}}) }}

								</div>


								<div class="row">
									{{ form_widget(form.tele, {'attr': {'Class': 'contact-input' ,'Placeholder': 'phone number'}}) }}
									{{ form_widget(form.email, {'attr': {'Class': 'contact-input' ,'Placeholder': 'adress mail'}}) }}
								</div>

								<div class="row">
									{{ form_widget(form.message, {'attr': {'Class': 'contact-input textarea' ,'Placeholder': 'Tape your message'}}) }}
								</div>
								<button class="btn">{{ button_label|default('Start ') }}</button>

								{{ form_end(form) }}

							</div>
						</div>
					</div>
				</section>


			</main>

			<footer class="footer">
				<div class="container">
					<div class="grid-4">
						<div class="grid-4-col footer-about">
							<h3 class="title-sm">About</h3>
							<p class="text">
								we specialize in website creation and SEO, web and desktop application development and digital marketing solutions
							</p>
							<p class="text">
								Tel : +212-762914480
							</p>
							<p class="text">
								Email : webmakerfes@gmail.com
							</p>
						</div>

						<div class="grid-4-col footer-links">
							<h3 class="title-sm">Links</h3>
							<ul>
								<li>
									<a href="{{ path( 'app_demande_new') }}">Start Project</a>
								</li>

								<a href="{{ path( 'app_serv') }}">Home</a>

								<li>
									<a href="{{ path( 'app_contact_new') }}" class="nav-item nav-link">Contact</a>
								</li>
							</ul>
						</div>

						<div class="grid-4-col footer-links">
							<h3 class="title-sm">Avantages</h3>
							<ul>
								<li><a href="#">Qualité</a></li>
								<li><a href="#">Fiablité</a></li>
								<li><a href="#">Performance</a></li>
								<li><a href="#">Simplicité</a></li>
								<li><a href="#">Maintenance</a></li>
							</ul>
						</div>

						<div class="grid-4-col footer-newstletter">
							<h3 class="title-sm">Subscribe</h3>
							<p class="text">
								Joignez notre liste de diffusion pour recevoir toutes les nouvelles et les annonces.
							</p>
							<div class="footer-input-wrap">
								<input type="email" class="footer-input" placeholder="Email"/>
								<a href="#" class="input-arrow">
									<i class="fas fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="bottom-footer">
						<div class="copyright">
							<p class="text">
								Copyright&copy;2021  | Made by
								<a href="https://www.linkedin.com/in/mohamed-serrou-579316217/">
									<span>WEBMAKER FES</span>
								</a>


							</p>
						</div>

						<div class="followme-wrap">
							<div class="followme">
								<h3>Follow Us</h3>
								<span class="footer-line"></span>
								<div class="social-media">
									<a href="https://www.facebook.com/simo.serrou.2000/">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="https://twitter.com/SerrouMohamed">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="https://www.instagram.com/simo_sarrou/">
										<i class="fab fa-instagram"></i>
									</a>
									<a href="https://www.linkedin.com/in/mohamed-serrou-579316217/">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div>

							<div class="back-btn-wrap">
								<a href="#" class="back-btn">
									<i class="fas fa-chevron-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{{asset('js/isotope.pkgd.min.js')}}"></script>
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
			<script src="{{asset('js/app.js')}}"></script>

		</body>

	{% endblock %}
</html>
