<!DOCTYPE html>
{% block title %}{% endblock %}

<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Plain of digital</title>
		<link rel="icon" type="image/png" href="{{asset('img/icc.png')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
		<link rel="stylesheet" href="{{asset('css/style.css')}}"/>
		<style>

			p {
				color: black;
				font-size: 1.4rem;
				margin-top: 5px;
				line-height: 2.5rem;
				font-weight: 300;
				letter-spacing: 0.05rem;
			}
			.section-title {
				font-size: 4rem;
				font-weight: 300;
				color: black;
				margin-bottom: 10px;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
				text-align: center;
			}
			.section-title span {
				color: #7B0305;
			}


			.brand h1 {
				font-size: 2.3rem;
				text-transform: uppercase;
				color: #413B3B;
			}
			.brand h1 span {
				color: #6b44e0;
			}
		</style>
	</head>
	{% block body %}
		<body>
			<main>
				<header id="header">
					<div class="overlay overlay-lg">
						<img src="{{asset('img/shapes/square.png')}}" class="shape square" alt=""/>
						<img src="{{asset('img/shapes/circle.png')}}" class="shape circle" alt=""/>
						<img src="{{asset('img/shapes/half-circle.png')}}" class="shape half-circle1" alt=""/>
						<img src="{{asset('img/shapes/half-circle.png')}}" class="shape half-circle2" alt=""/>
						<img src="{{asset('img/shapes/x.png')}}" class="shape xshape" alt=""/>
						<img src="{{asset('img/shapes/wave.png')}}" class="shape wave wave1" alt=""/>
						<img src="{{asset('img/shapes/wave.png')}}" class="shape wave wave2" alt=""/>
						<img src="{{asset('img/shapes/triangle.png')}}" class="shape triangle" alt=""/>
						<img src="{{asset('img/icc.png')}}" class="letters" alt=""/>
						<img src="{{asset('img/shapes/points1.png')}}" class="points points1" alt=""/>
					</div>

					<nav>
						<div class="container">
							<div class="logo">
								<div class="brand">
									<a href="{{ path( 'app_serv') }}">
										<img style="width: 460%" src="{{asset('img/LOGO2-removebg-preview.png')}}" class="z-index" alt=""/>


									</a>
								</div>
							</div>

							<div class="links">
								<ul>
									<li>
										<a href="{{ path( 'app_serv') }}">Accueil</a>
									</li>
									<li>
										<a href="#services">Services</a>
									</li>
									<li>
										<a href="#about">Qui sommes-nous?</a>
									</li>
									<li>
										<a href="{{ path( 'app_demande_new') }}">Start Project</a>
									</li>
									<li>
										<a href="#team">L'équipe</a>
									</li>
									<a href="{{ path( 'app_contact_new') }}" class="nav-item nav-link">Contact</a>


								</div>
							</ul>
						</div>

						<div class="hamburger-menu">
							<div class="bar"></div>
						</div>
					</div>
				</nav>

				<div class="header-content">
					<div class="container grid-2">
						<div class="column-1">
							<h1 class="header-title">Plonger
							</h1>
							<h1 class="header-title" style=" margin-top:15px;">
								dans le digital
							</h1>
							<p class="text">
								Webmaker vous accompagne dans un processus de digitalisation professionel et efficace, dès le choix de la technologie convenable jusqu'à ce 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														que vous vous dévoiler au monde.
							</p>
							<a href="#services" class="btn">
								SERVICES</a>
						</div>

						<div class="column-2 image">
							<img src="{{asset('./img/shapes/points2.png')}}" class="points points2" alt=""/>
							<img src="{{asset('img/Capture_d_écran_2022-07-06_193903-removebg-preview.png')}}" class="img-element z-index" alt=""/>
						</div>
					</div>
				</div>
			</header>

			<section class="services section" id="services">
				<div class="container">
					<div class="section-header">
						<h3 class="title" data-title="What we provide">Services</h3>
						<p class="text">
							YOU WILL LIKE OUR SERVICES
						</p>
					</div>

					<div class="cards">
						<img src="./img/shapes/points3.png" class="points points1 points-sq" alt=""/>
						{% for s_e_r_v_i_c_e in s_e_r_v_i_c_es %}


							<div class="card-wrap">

								<div class="card" data-card="UI/UX">
									<div class="card-content z-index">
										<img src="{{ vich_uploader_asset(s_e_r_v_i_c_e, 'imageFile')}}" class="icon" alt="" style=" margin-top:5%;"/>
										<h3 class="title-sm">{{ s_e_r_v_i_c_e.titre }}</h3>
										<p class="text">
											{{ s_e_r_v_i_c_e.context }}
										</p>
										<a href="{{ path( 'app_demande_new') }}" class="btn small">Let's Start</a>
									</div>
								</div>
							</div>


						{% endfor %}


					</div>
				</div>
			</section>
			<section class="portfolio section" id="portfolio">
				<div class="background-bg">
					<div class="overlay overlay-sm">
						<img src="./img/shapes/half-circle.png" class="shape half-circle1" alt=""/>
						<img src="./img/shapes/half-circle.png" class="shape half-circle2" alt=""/>
						<img src="./img/shapes/square.png" class="shape square" alt=""/>
						<img src="./img/shapes/wave.png" class="shape wave" alt=""/>
						<img src="./img/shapes/circle.png" class="shape circle" alt=""/>
						<img src="./img/shapes/triangle.png" class="shape triangle" alt=""/>
						<img src="./img/shapes/x.png" class="shape xshape" alt=""/>
					</div>
				</div>

				<div class="container">
					<div class="section-header">
						<h3 class="title" data-title="Nos Realisation">PorteFeuille</h3>
					</div>

					<div class="section-body">
						<div class="filter">
							<button class="filter-btn active" data-filter="*">All</button>
							<button class="filter-btn" data-filter=".ui">UI/UX</button>
							<button class="filter-btn" data-filter=".webdev">Web Dev</button>
							<button class="filter-btn" data-filter=".appdev">
								Mobile App
							</button>
							<button class="filter-btn" data-filter=".logo-design">
								Logo Design
							</button>
						</div>

						<div class="grid">
							{% for portofolio in portofolios %}
								<div class="grid-item logo-design">
									<div class="gallery-image">
										<img src="{{ vich_uploader_asset(portofolio, 'imageFile')}}" alt=""/>
										<div class="img-overlay">

											<div class="img-description">
												<h3>{{ portofolio.titre }}</h3>
												<h5>{{ portofolio.demo }}</h5>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}


						</div>
						<div class="more-folio">
							<a href="{{ path( 'app_demande_new') }}" class="btn">Commencer projet
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="about section" id="about">
				<div class="container">
					<div class="section-header">
						<h3 class="title" data-title="Who we are">Qui sommes-nous ?</h3>
					</div>

					<div class="section-body grid-2">
						<div class="column-1">
							<h3 class="title-sm">
								WHY
								<b style="color: crimson">Plain of digital ?</b>
							</h3>
							<p class="text">
								Nous spécialisons dans la création des sites internet, des applications web et les solutions du marketing
																																																																																																																																																																																																																																																																																																																																																																																																																																																														digital.
																																																																																																																																																																																																																																																																																																																																																																																																																																																														Nous sommes une équipe de profils créatifs, curieux et passionés par le web. Capable de partager l'imagination de vos
																																																																																																																																																																																																																																																																																																																																																																																																																																																														idées et projets web afin de leur donner vie. Sa priorité est la communication et l'identification précise
																																																																																																																																																																																																																																																																																																																																																																																																																																																														de votre problématique ainsi qu'au but autant qu'à la technique pour répondre au meilleur à vos besoins et
																																																																																																																																																																																																																																																																																																																																																																																																																																																														de vous accompagner à les réaliser.

							</p>
							<div class="skills"></div>
							<a href="{{ path( 'app_demande_new') }}" class="btn">On Commence</a>
						</div>

						<div class="column-2 image">
							<img src="./img/shapes/points4.png" class="points" alt=""/>
							<img style="width: 650 px" src="img/LOGO2-removebg-preview.png" class="z-index" alt=""/>
						</div>
					</div>
				</div>
			</section>

			<section class="records">
				<div class="overlay overlay-sm">
					<img src="./img/shapes/square.png" alt="" class="shape square1"/>
					<img src="./img/shapes/square.png" alt="" class="shape square2"/>
					<img src="./img/shapes/circle.png" alt="" class="shape circle"/>
					<img src="./img/shapes/half-circle.png" alt="" class="shape half-circle"/>
					<img src="./img/shapes/wave.png" alt="" class="shape wave wave1"/>
					<img src="./img/shapes/wave.png" alt="" class="shape wave wave2"/>
					<img src="./img/shapes/x.png" alt="" class="shape xshape"/>
					<img src="./img/shapes/triangle.png" alt="" class="shape triangle"/>
				</div>

				<div class="container">
					<div class="wrap">
						<div class="record-circle">
							<h2 class="number" data-num="235">0</h2>
							<h4 class="sub-title">Projects</h4>
						</div>
					</div>

					<div class="wrap">
						<div class="record-circle active">
							<h2 class="number" data-num="174">0</h2>
							<h4 class="sub-title">Happy Clients</h4>
						</div>
					</div>

					<div class="wrap">
						<div class="record-circle">
							<h2 class="number" data-num="892">0</h2>
							<h4 class="sub-title">Work Hour</h4>
						</div>
					</div>

					<div class="wrap">
						<div class="record-circle">
							<h2 class="number" data-num="368">0</h2>
							<h4 class="sub-title">Awards</h4>
						</div>
					</div>
				</div>
			</section>

			<section id="team" class="blog section">
				<div class="container">
					<div class="section-header">
						<h3 class="title" data-title="Plain of digital">Notre Equipe</h3>
						<p class="text">
							Nous représentons nos chef de projets qui se présente sous la formes du deux ingénieurs informatique
						</p>
					</div>

					<div class="blog-wrapper">
						<div class="blog-wrap">
							<img src="{{asset('img/shapes/points3.png')}}" alt="" class="points points-sq"/>

							<div class="blog-card">
								<div class="blog-image">
									<img src="{{asset('img/team_1.png')}}" alt=""/>
								</div>

								<div class="blog-content">
									<div class="blog-info">
										<h5 class="blog-date"></h5>
										<h5 class="blog-user">
											<i class="fas fa-user"></i>Mohamed Sarrou</h5>
									</div>
									<h3 class="title-sm" style="margin-top: 15px; ">IT developer
									</h3>


									<div class="blog-info"></div>
								</div>
							</div>
						</div>


						<div class="blog-wrap">
							<div class="blog-card">
								<div class="blog-image">
									<img src="{{asset('img/team_22.png')}}" alt=""/>
								</div>

								<div class="blog-content">
									<div class="blog-info">
										<h5 class="blog-date"></h5>
										<h5 class="blog-user">
											<i class="fas fa-user"></i>
											Fahlaoui Mohamed</h5>
									</div>
									<h3 class="title-sm" style="margin-top: 15px;">IA & Web   developer
									</h3>

								</div>
							</div>
						</div>
					</div>
				</main>
				<footer class="footer">
					<div class="container">
						<div class="grid-4">
							<div class="grid-4-col footer-about">
								<h3 class="title-sm">Plain of digital</h3>
								<p class="text">
									Votre accompagnant vers le monde digital en poursuivant un processus professionnel pour la réalisation de vos besoins.
								</p>
								<p class="text">
									Tel : +212 704-510166
								</p>
								<p class="text">
									Email : Plainofdigital@gmail.com
								</p>
							</div>

							<div class="grid-4-col footer-links">
								<h3 class="title-sm">Links</h3>
								<ul>
									<li>
										<a href="{{ path( 'app_demande_new') }}">Start Project</a>
									</li>
									<li>
										<a href="#services">Services</a>
									</li>
									<li>
										<a href="#team">Team</a>
									</li>

									<a href="{{ path( 'app_serv') }}">Home</a>

									<li>
										<a href="{{ path( 'app_contact_new') }}" class="nav-item nav-link">Contact</a>
									</li>
								</ul>
							</div>

							<div class="grid-4-col footer-links">
								<h3 class="title-sm">Avantages</h3>
								<ul>
									<li><a href="#">Qualité</a></li>
									<li><a href="#">Fiablité</a></li>
									<li><a href="#">Performance</a></li>
									<li><a href="#">Simplicité</a></li>
									<li><a href="#">Maintenance</a></li>

								</ul>
							</div>

							<div class="grid-4-col footer-newstletter">
								<h3 class="title-sm">Subscribe</h3>
								<p class="text">
									Joignez notre liste de diffusion pour recevoir toutes les nouvelles et les annonces.
								</p>
								<div class="footer-input-wrap">
									<input type="email" class="footer-input" placeholder="Email"/>
									<a href="# " class="input-arrow">
										<i class="fas fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="bottom-footer">
							<div class="copyright">
								<p class="text">
									Copyright&copy;2021  | Made by
									<a href="https://www.linkedin.com/in/mohamed-serrou-579316217/">
										<span>Plain of digital</span>
									</a>


								</p>
							</div>

							<div class="followme-wrap">
								<div class="followme">
									<h3>Follow Us</h3>
									<span class="footer-line"></span>
									<div class="social-media">
										<a href="https://www.facebook.com/simo.serrou.2000/">
											<i class="fab fa-facebook-f"></i>
										</a>
										<a href="https://twitter.com/SerrouMohamed">
											<i class="fab fa-twitter"></i>
										</a>
										<a href="https://www.instagram.com/simo_sarrou/">
											<i class="fab fa-instagram"></i>
										</a>
										<a href="https://www.linkedin.com/in/mohamed-serrou-579316217/">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</div>
								</div>

								<div class="back-btn-wrap">
									<a href="#" class="back-btn">
										<i class="fas fa-chevron-up"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</footer>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				<script src="{{asset('js/isotope.pkgd.min.js')}}"></script>
				<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
				<script src="{{asset('js/app.js')}}"></script>

			</body>

		{% endblock %}
	</body>
</html>
